<header>
	<nav class="navbar navbar-default">
		<div
			class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ path('home') }}">Chouette
				</a>
			</div>
			<!-- search bar -->
			<div class="form">
				<form action="#" method="GET" class="search-bar-form">
					<div class="search-bar">
						<input type="text" id="search-input" name="search" placeholder="Search . . .">
						<button type="submit" id="search-button">
							<div class="shearch-picto">
								<svg width="24" height="24" viewbox="0 0 48 48" fill="rgba(22, 24, 35, .34)" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M22 10C15.3726 10 10 15.3726 10 22C10 28.6274 15.3726 34 22 34C28.6274 34 34 28.6274 34 22C34 15.3726 28.6274 10 22 10ZM6 22C6 13.1634 13.1634 6 22 6C30.8366 6 38 13.1634 38 22C38 25.6974 36.7458 29.1019 34.6397 31.8113L43.3809 40.5565C43.7712 40.947 43.7712 41.5801 43.3807 41.9705L41.9665 43.3847C41.5759 43.7753 40.9426 43.7752 40.5521 43.3846L31.8113 34.6397C29.1019 36.7458 25.6974 38 22 38C13.1634 38 6 30.8366 6 22Z"></path>
								</svg>
							</div>
						</button>
					</div>
				</form>

			</div>


			{% if session.is_connected %}
				<div class="picture-pseudo-btn">
					<div class="picture-pseudo-msg">
						<div class="msg">
							<a href="{{ path('messenger') }}">
								<img class="img-avatar" src="{{ asset('/media/picto/message.svg')}}" alt="">
								<div class="number-msg">
									<span>1</span>
								</div>
							</a>
						</div>

						<div class="avatar-profil">
							<a href="">
								<img src="{{ asset('/media/images/burger.png' ) }}" alt="">

							</a>
						</div>
						<div class="pseudo">
							<span style="color:white">{{ session.pseudo }}</span>
						</div>
					</div>
					<a href="{{ path('logout') }}">
						<button style="color:red;" id='logoutButton'>Log out</button>
					</a>
				{% else %}
					<button style="color:red;" id='modalButton'>Sign in</button>
				{% endif %}
			</div>

		</div>
	</nav>

	<div id="modal" class="modal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<h2>Connexion</h2>
			<form id="loginForm" action="{{ path('signin') }}" method="post">
				<input type="text" id="pseudo" name="pseudo" placeholder="Nom d'utilisateur">
				<input type="password" id="password" name="password" placeholder="Mot de passe">
				<input type="submit" value="Se connecter">
			</form>

			<h2>Inscription</h2>
			<form id="signupForm" action="{{ path('register') }}" method="post">
				<input type="text" id="newpseudo" name="pseudo" placeholder="Nom d'utilisateur">
				<input type="password" id="newPassword" name="password" placeholder="Mot de passe">
				<input type="email" id="email" name="email" placeholder="Email">
				<input type="submit" value="S'inscrire">
			</form>

		</div>
	</div>
</header>
