{% extends "template.html.twig" %}


{% block content %}
	<section class="messenger ">
		<div
			class="container-messenger">

			<!-- search and contact -->
			<div class="search-message-contact">
				<div class="search">
					<div class="icon-search">
						<img src="../asset/media/icon/magnifying-glass-solid.svg" alt="icon search">
					</div>
					<div class="input-search">
						<input type="search" name="search" id="search" placeholder="Search in Messages">
					</div>
					<div class="icon-search">
						<img src="../asset/media/icon/search-fleche.svg" alt="fleche search">
					</div>

				</div>
				<!-- message with contact -->
				{% for postMessages in postMessage %}
					<div class="card-message" data-id="{{ postMessages.id }}">
						<div class="picture-username">
							<div class="picture-message">
								<img class="avatar" src="{{asset('/media/picto/burger.png')}}" alt="">
							</div>
							<div class="username">
								<span>{{ postMessages.pseudo }}</span>
							</div>
						</div>
						<div class="online-time">
							<div class="stat-time">
								<div class="status"></div>
								<span class="time">{{ postMessages.sent_at }}</span>
							</div>
						</div>
						<p>{{postMessages.message}}</p>
					</div>
				{% endfor %}

			</div>
			<div class="user-online-send-messages">
				<div class="container-online-user">
					<div class="user" data-user-id="{{ user.id }}">

						<div class="avatar">
							<img src="{{ asset('/media/picto/burger.png') }}" alt="">
						</div>
						<div class="name">
							<span>{{ user.pseudo }}</span>
						</div>
						<div class="status"></div>
					</div>


				</div>

				<div class="message-container">
					{% for message in messages %}
						{% if message.sender_id == user.id or message.receiver_id == user.id %}
							{% if message.sender_id == user.id %}
								<div class="message sender sent">
									<p class='p-message'>{{ message.message }}</p>
								</div>
							{% else %}
								<div class="message received">
									<p class='p-message receive'>{{ message.message }}</p>
								</div>
							{% endif %}
						{% endif %}
					{% endfor %}
				</div>


				<form
					class="message-form" method="post" action="{{ path('send_message', {'recipientId': recipientId}) }}">
					<!-- ... -->
					<textarea id="message-input" name="message" placeholder="Votre message"></textarea>
					<button id="send-button">Envoyer</button>
				</form>
			</div>
		</div>
	</section>
{% endblock %}
